autostart
evolution 
gtk-4.0 
nautilus 
update-notifier 
cef_user_data
gedit
neofetch
user-dirs*
Code
gnome-session
gnome-initial-setup-done
ibus
libreoffice
pulse
dconf
goa-1.0
menus
QtProject.conf
enchant
gtk-2.0
*.xml
*.xml~
pavucontrol.ini
eog
gtk-3.0
unity3d